@import './variables';

.ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.text {
  &-bold {
    font-weight: 700;
  }

  &-small {
    font-size: 0.9em;
  }

  &-medium {
    font-size: 1.3em;
  }

  &-xlarge {
    font-size: 3.6em;
  }
}

.button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 700;
  
  &-no-background {
    @extend .button;
    background: none;
    color: $green;
  }

  &-green-neutral {
    @extend .button;
    background: $green-neutral;
    color: $green;
  }

  &-green {
    @extend .button;
    background: $green;
    color: white;
  }

  &-small {
    padding: 0.5em 1.1em;
    font-size: 1em;
  }

  &-xlarge {
    padding: 0.9em 1.5em;
    font-size: 1.2em;
  }
}

.flex {
  &-row {
    display: flex;

    &-center-y {
      @extend .flex-row;
      align-items: center;
    }
  }

  &-pull-right {
    margin-left: auto;
  }
}