@import '../../assets/shared_sass/variables';
@import '../../assets/shared_sass/styles';

#home-page {
  height: calc(100vh - #{$header-height});
}

#home-page__hero-main-section {
  position: absolute;
  margin-top: 7em;
  margin-left: $home-page-menu-offset;
  width: 40vw;
}

#home-page__hero-img {
  height: 40em;
  margin-top: 1em;
}

.fancy-underline {
  @include chunky-underline(rgb(137, 250, 197), true, 25%, 10%);
}
