.register__form-ul > li {
  margin-bottom: 1.5em;
}

.register__inputs-address-line {
  display: flex;
  justify-content: space-between;

  > div {
    width: 45%;
  }
}

#register__back {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 1em;

  > img {
    width: 1.1em;
  }

  > p {
    text-decoration: underline;
  }
}