@import "./../../../assets/shared_sass/variables";

.offer-config-radio-buttons {
  gap: 1em;
}

.offer-config-radio-buttons__radio-button {
  padding: 0.5em 0;
  width: 7em;
  text-align: center;

  &:hover {
    background: $green;
    color: white;
  }
}