@import '../assets/shared_sass/variables';

#header {
  display: flex;
  align-items: center;
  height: $header-height;
  width: 100vw;
}

#header__nop-logo {
  width: 5.5em;
}

#header__nav {
  position: absolute;
  margin-left: $home-page-menu-offset;
}

#header__nav-links {
  display: flex;

  > li {
    margin-right: 2.5em;
  }
}

#header__nav-buttons {
  display: flex;
  margin-left: auto;
}