@import '../assets/shared_sass/variables';

#header {
  display: flex;
  // gap: 7em;
  align-items: center;
  height: $header-height;
  width: 100vw;
}

#header__nop-logo {
  width: 5.5em;
}

#header__right-side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#header__nav-links {
  display: flex;

  > li {
    margin-left: 2.5em;
  }
}

#header__nav-buttons {
  display: flex;
  margin-right: 3em;
}