$home-page-menu-offset: 37.5vw;

#header {
  display: flex;
  align-items: center;
  height: 14vh;
  width: 100vw;
}

#header__nop-logo {
  width: 4em;
}

#header__nav {
  margin-left: $home-page-menu-offset;
}

#header__nav-links {
  display: flex;

  > li {
    margin-right: 2.5em;
  }
}

#header__nav-buttons {
  display: flex;
  margin-left: auto;

  button {
    height: 2.25em;
    width: 7.5em;
  }
}