@import '../../assets/shared_sass/variables';

#auth-page {
  width: 100%;
  gap: 5em;
}

#auth-page__left-side {
  flex: 1 0 0;
}

#auth-page__right-side {
  flex: 1 0 0;

  > img {
    max-width: 100%;
    max-height: 100%;
  }
}